<div class="user-details">
  <img src="/assets/img/aboutme.png" alt="About Me" class="featured-image" />
</div>
<div class="user-projects">
  <div class="contents-right">
    <div class="images-left">
      <img alt="About Me Image" src="{{ "/assets/img/prof.png" | prepend: site.baseurl }}" width = "350"/>
    </div>
    <p>
      Hello! I'm Satomi Ito, an aspiring data scientist with a passion for turning complex problems into meaningful solutions. With a background in cognitive science, I have a multidisciplinary approach that allows me to connect technical skills with human-centered thinking, making my work both impactful and innovative.
    </p>
    <p>
      I have hands-on experience with data visualization, natural language processing, and predictive modeling. Tools like Python, R, and SQL are my go-to, and I am always excited to explore new technologies like deep learning frameworks and data engineering pipelines. Beyond the technical side, I love collaborating, presenting, and adapting to challenges with a curious and proactive attitude.
    </p>
    <p>
      In my free time, you will find me climbing walls or diving into DIY projects.
    </p>
  </div>
</div>


<div class="image-grid">
  <div class="grid-item">
    <img src="/assets/img/ski.jpg" alt="Image 1" />
    <div class="hover-text">Learned how to ski at Mont-Tremblant</div>
  </div>
  <div class="grid-item">
    <img src="/assets/img/cat.JPG" alt="Image 2" />
    <div class="hover-text">Radahn's first snow!</div>
  </div>
  <div class="grid-item">
    <img src="/assets/img/cssa.jpg" alt="Image 3" />
    <div class="hover-text">Hosted Cognitive Science Student Association's Workshop</div>
  </div>
</div>



