<div class="user-details">
  <img src="/assets/img/aboutme.png" alt="About Me" class="featured-image" />
</div>
<div class="user-projects">
  <div class="contents-right">
    <div class="images-left">
      <img alt="About Me Image" src="{{ "/assets/img/prof.png" | prepend: site.baseurl }}" width = "250"/>
    </div>
    <h1>HI!</h1>
    <p>
      As an aspiring data scientist with a background in cognitive science and machine learning, I approach challenges with a multidisciplinary and problem-solving mindset, leveraging data to uncover insights.
    </p>
    <p>
      In my free time, I enjoy climbing and DIY projects.
    </p>
  </div>
</div>


<div class="image-grid">
  <div class="grid-item">
    <img src="/assets/img/ski.jpg" alt="Image 1" />
    <div class="hover-text">Learned how to ski at Mont-Tremblant</div>
  </div>
  <div class="grid-item">
    <img src="/assets/img/cat.JPG" alt="Image 2" />
    <div class="hover-text">Radahn's first snow!</div>
  </div>
  <div class="grid-item">
    <img src="/assets/img/cssa.jpg" alt="Image 3" />
    <div class="hover-text">Hosted Cognitive Science Student Association's Workshop</div>
  </div>
</div>

