---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legacy Farm - {{site.username}}</title>
  <meta name="description" content="Legacy Stardew Valley Farm Page">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="main-content">
    <section id="stardew">
      {% include stardew.html %}
    </section>
  </div>
  <script src="/assets/js/scrollnavi.js"></script>
</body>
</html> 