<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Decoding Song Success </h3>
    <h4>Featured Skills</h4>
    <ul class="skills-list">
      <li>Web Scraping</li>
      <li>Web APIs</li>
      <li>Python</li>
      <li>Natural Language Processing</li>
      <li>Data Visualization</li>
      <li>Machine Learning</li>
      <li>Supervised & Unsupervised Learning</li>
      <li>Sentiment Analysis</li>
    </ul>

    <div class="images-right">
      <img alt="EDA of Normalized Data" src="{{ "/assets/img/music_project.png" | prepend: site.baseurl }}" />
    </div>
    
    <p>
      Decoding Song Success uses data science to uncover insights from the Rolling Stones Top 100 Songs. This project bridges NLP and song metadata to analyze features like lyric sentiment, song popularity, artist popularity, and genre to explore what makes a song a hit.
    </p>
    <a class="project-link" href="https://samyuvakkalanka.georgetown.domains/Final_Project/">View Project</a>
    <a class="project-link" href="https://github.com/satomitheito/Spotify-Song-Analysis">GitHub Repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
