<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <!-- Content Section -->
  <div class="contents">
    <h3> Decoding Song Success </h3>
      <!-- Image Section -->
    <div class="images-right">
      <img alt="EDA of Normalized Data" src="{{ "/assets/img/music_project.png" | prepend: site.baseurl }}" />
    </div>
    <h4>Featured Skills</h4>
    <ul class="skills-list">
      <li>Web Scraping</li>
      <li>Web APIs</li>
      <li>Python</li>
      <li>Natural Language Processing</li>
      <li>Data Visualization</li>
      <li>Machine Learning</li>
      <li>Supervised & Unsupervised Learning</li>
      <li>Sentiment Analysis</li>
    </ul>
    <p>
      Decoding Song Success leverages data science to provide actionable insights for the music industry. By analyzing data from the Rolling Stones Top 100 Songs, this project bridges NLP and song metadata to uncover factors driving hit songs. Using techniques such as sentiment analysis and predictive modeling, it evaluates how lyric sentiment, artist popularity, and genre influence success.
    </p>
    <p>
      This project aims to identify key trends in music popularity. It offers tools to predict the commercial potential of songs, informs investment decisions, and helps songwriters and producers refine their creative strategies. From creating genre-specific playlists using unsupervised learning to exploring the impact of collaborations on song success, the findings can optimize decision-making and drive innovation in the music business.
    </p>
    <a class="project-link" href="https://samyuvakkalanka.georgetown.domains/Final_Project/" target="_blank" rel="noopener noreferrer">Website</a>
    <a class="project-link" href="https://github.com/satomitheito/Spotify-Song-Analysis" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
  </div>
</div>


<div class="user-projects">

  <div class="contents-right">
    <h3> JANAS: Japanese and American News Analysis Sentiment </h3>
    <div class="images-left">
      <img alt="Compound Sentiment By Bias and Country" src="{{ "/assets/img/comp_bias_violin.png" | prepend: site.baseurl }}" />
    </div>
    <li> Featured Skills</li>
    <ul class="skills-list">
      <li>Web Scraping</li>
      <li>Python</li>
      <li>Natural Language Processing</li>
      <li>Multilingual Sentiment Analysis</li>
      <li>Deep Learning</li>
      <li>Hugging Face</li>
      <li>NLTK</li>
  </ul>
  <p>
    JANAS is a package for multilingual sentiment analysis of Japanese and American news articles. By analyzing trending topics across categories like politics, business, and global news, JANAS offers insights into the differences and similarities in media portrayals between the US and Japan. This project combines web scraping, machine translation, and deep learning-based sentiment analysis to provide a dataset and tools for real-time analysis. The aim is to enable users to explore cultural and linguistic differences in news sentiment and foster cross-cultural understanding.
  </p>
  <a class="project-link" href="https://satomitheito.github.io/NLP-Article-Analysis/" target="_blank" rel="noopener noreferrer">Website</a>
  <a class="project-link" href="https://github.com/satomitheito/NLP-Article-Analysis/blob/main/JANAS/img/5400_final.pdf" target="_blank" rel="noopener noreferrer">Presentation</a>
  <a class="project-link" href="https://github.com/satomitheito/NLP-Article-Analysis/tree/main/JANAS" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
  </div>
</div>


<div class="user-projects">
  <div class="contents">
    <h3> Living in Risk: Public Health and Housing Disparities </h3>
    <div class="images-right">
      <img alt="Housing Risk by Income" src="{{ "/assets/img/Housing_vs_AMI.png" | prepend: site.baseurl }}" />
    </div>
    <h4>Featured Skills</h4>
    <ul class="skills-list">
      <li>Data Analysis</li>
      <li>Public Health Metrics</li>
      <li>Housing Risk Analysis</li>
      <li>Visualization Tools</li>
      <li>R</li>
    </ul>

    <p>
      This project investigates the relationship between public health metrics and housing risk scores across various districts. By analyzing vaccination rates, death rates, uninsured percentages, and housing-related factors, the study highlights disparities in housing risks and identifies potential areas for policy intervention. The research explores how public health and socioeconomic indicators correlate with high housing risk scores, aiming to uncover key factors driving these disparities. Through data-driven analysis, the project seeks to provide actionable insights for policymakers to address housing and public health inequalities, prioritizing district-level interventions that promote equitable outcomes.
    </p>

    <a class="project-link"
      href="https://github.com/satomitheito/Living-In-Risk"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub Repo</a
    >
    <a
      class="project-link"
      href="https://github.com/satomitheito/Living-In-Risk/blob/main/presentation%3Areport/DSAN%205100%20-%20Final%20Report.pdf"
      target="_blank"
      rel="noopener noreferrer"
      >Report</a
    >
    <a
      class="project-link"
      href="https://github.com/satomitheito/Living-In-Risk/blob/main/presentation%3Areport/DSAN_5100__Final_NYC_Evictions.pdf"
      target="_blank"
      rel="noopener noreferrer"
      >Presentation</a
    >
  </div>
</div>