<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="EDA of Normalized Data" src="{{ "/assets/img/music_project.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Decoding Song Success </h3>
    <h4>Featured Skills</h4>
    <ul class="skills-list">
      <li>Web Scraping</li>
      <li>Web APIs</li>
      <li>Python</li>
      <li>Natural Language Processing</li>
      <li>Data Visualization</li>
      <li>Machine Learning</li>
      <li>Supervised & Unsupervised Learning</li>
      <li>Sentiment Analysis</li>
    </ul>


    <p>
      Decoding Song Success leverages data science to provide actionable insights for the music industry. By analyzing data from the Rolling Stones Top 100 Songs, this project bridges NLP and song metadata to uncover factors driving hit songs. Using techniques such as sentiment analysis and predictive modeling, it evaluates how lyric sentiment, artist popularity, and genre influence success.
    </p>
    <p>
      This project holds value for industry professionals by identifying key trends in music popularity. It offers tools to predict the commercial potential of songs, informs investment decisions, and helps songwriters and producers refine their creative strategies. From creating genre-specific playlists using unsupervised learning to exploring the impact of collaborations on song success, the findings can optimize decision-making and drive innovation in the music business.
    </p>
    <a class="project-link" href="https://samyuvakkalanka.georgetown.domains/Final_Project/">View Project</a>
    <a class="project-link" href="https://github.com/satomitheito/Spotify-Song-Analysis">GitHub Repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
