<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <!-- Left Navigation Bar -->
      <nav class="left-navbar">
        <ul>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#stardew">Stardew Valley</a></li>
        </ul>
      </nav>

      <!-- Main Content -->
      <div class="main-content">
        {% include header.html %}
        <section id="about">
          {% include about.html %}
        </section>
        <section id="projects">
          {% include projects.html %}
        </section>
        <section id="stardew">
          {% include stardew.html %}
        </section>
        {{ content }}
        {% include footer.html %}
      </div>
  </body>
</html>