<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <nav id="navbar" class="navbar">
        <a href="#about" class="nav-link">About Me</a>
        <a href="#projects" class="nav-link">Projects</a>
        <a href="#stardew" class="nav-link">My Farm</a>
      </nav>

      <div class="main-content">
        <section id="header">
          {% include header.html %}
        </section>
        <section id="about">
          {% include about.html %}
        </section>
        <section id="projects">
          {% include projects.html %}
        </section>
        <section id="stardew">
          {% include stardew.html %}
        </section>
        {{ content }}
        {% include footer.html %}
      </div>
      <script src="/assets/js/scrollnavi.js"></script>
  </body>
</html>